snippet print "console.log"
console.log(${1:content});$0
endsnippet
snippet p "console.log"
console.log(${1:content});$0
endsnippet
snippet fu "console.log"
(${1:err, result}) => {
	$0
}
endsnippet
snippet fu1 "console.log"
o => {
	$0
}
endsnippet
