snippet "(^#+\s.*)[.。]fold" "使用.fold为md标题插入vim折叠标记" r
<!-- `!p
snip.rv=match.group(1)` {{${1:1} -->
`!p
snip.rv=match.group(1)`
$0
<!-- }}$1 -->
endsnippet

snippet "^h(\d)" "使用h1~h6快速插入标题" r
`!p
i = '#' * int(match.group(1))
snip.rv=i` ${1:title}
$0
endsnippet

snippet "(^.*)[.。]h(\d)" "使用.h1~h6快速插入标题" r
`!p
title = match.group(1)
i = '#' * int(match.group(2))
snip.rv = ' '.join((i, title, i))`
endsnippet
