# markdown.snippets

snippet c1 "vim折叠标记" b
<!-- ${1} {{{1 -->
endsnippet

snippet c2 "vim折叠标记" b
<!-- ${1} {{{2 -->
endsnippet

snippet c3 "vim折叠标记" b
<!-- ${1} {{{3 -->
endsnippet

snippet uc1 "vim折叠标记" b
<!-- }}}1 -->
endsnippet

snippet uc2 "vim折叠标记" b
<!-- }}}2 -->
endsnippet

snippet uc3 "vim折叠标记" b
<!-- }}}3 -->
endsnippet

snippet cc "vim折叠标记" b
<!-- ${1} {{{${2} -->
endsnippet

snippet ucc "vim折叠标记" b
<!-- }}}${2} -->
endsnippet
