snippet ph "Thre visual placeholder" i
\${${1:1}:${VISUAL:placeholder}}
endsnippet

snippet sn "Ultisnips snippet definition" b
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}" ${3:b}
${0:${VISUAL}}
`!p snip.rv = "endsnippet"`
endsnippet

# vim:ft=snippets:
