snippet syso "打印(换行)" w
System.out.println(${1});${0}
endsnippet
snippet sysop "打印(不换行)" w
System.out.print(${1});${0}
endsnippet
snippet fun "function" b
${1:public} ${2:static} ${3:void} ${4:functionName}(${5:arg}) {
	$0
}
endsnippet

