snippet #!3 "pyhton3文件模板" b
#!/usr/bin/env python3
# -*- coding: utf-8 -*-


$0
endsnippet

snippet main "main" b
if __name__ == '__main__':
	$0
endsnippet

snippet doctest "doctest" b
import doctest
doctest.testmod()$0
endsnippet

snippet  traceback "traceback" b
Traceback (most recent call last):
...
$0
endsnippet
