snippet dubbo-provider "the dubbo provider config" b
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!--1.dubbo项目名称-->
	<dubbo:application name="dubbo-provider"  />

	<!--2.registry-->
	<dubbo:registry protocol="zookeeper" address="192.168.129.10:1281,192.168.129.10:1282,192.168.129.10:1283" />

	<!--3.暴漏的协议, 端口-->
	<dubbo:protocol name="dubbo" port="20880" />


	<!--使用注解, 在service中使用dubbo的Service注解-->
	<dubbo:annotation package="foo.bar"/>

	<!--使用配置, 需要逐个配置, 推荐使用注解-->
	<!--4.注入bean-->
	<bean id="demoServiceLocal" class="foo.bar.impl.DemoServiceImpl"/>
	<!--5.发布服务-->
	<dubbo:service interface="foo.bar.DemoService" ref="demoServiceLocal"/>
</beans>
endsnippet
snippet dubbo-consumer "the dubbo provider config" b
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!--1.dubbo项目名称-->
	<dubbo:application name="dubbo-provider"  />

	<!--2.registry-->
	<dubbo:registry protocol="zookeeper" address="192.168.129.10:1281,192.168.129.10:1282,192.168.129.10:1283" />

	<!--3.引用Bean-->
	<dubbo:reference interface="foo.bar.DemoService" id="demoService"/>
</beans>
endsnippet
